design_docs/Doxygen/html
design_docs/Doxygen/latex
implementation/game
/implementation/gui/Kaleb_Jacob_Angelica/build/
/implementation/gui/Kaleb_Jacob_Angelica/dist/
/implementation/gui/Kaleb_Jacob_Angelica/nbproject/private/